@import "colors"

.profile-container
    display: flex
    justify-content: center
    margin-top: 1rem

    .profile
        width: 40%
        background-color: $fg-1
        border-radius: 8px
        display: flex
        justify-content: space-around
        align-items: center

        img
            width: 6rem
            height: 6rem
            border-radius: 8px

        .links
            
            ul
                list-style: none
                text-align: left