html {
  width: 100vw;
  display: flex;
  justify-content: center;
}

body {
  background-color: #edeff0;
  color: #0c0e0f;
  font-family: "JetBrains Mono", monospace;
  width: 45vw;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1000px) {
  body {
    width: 80vw;
  }
}
body section {
  text-align: left;
}
body section p {
  text-align: justify;
}
body h1:before {
  content: "# ";
  color: #81c19b;
}
body h2:before {
  content: "## ";
  color: #81c19b;
}
body h3:before {
  content: "### ";
  color: #81c19b;
}
body nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  border-bottom: 2px solid #e4e6e7;
}
body nav a {
  color: #0c0e0f;
  cursor: pointer;
  text-decoration: none;
}
body nav a:hover {
  color: #81c19b;
}
